<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>58金融日志系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
    
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!--script src="javascripts/dep/jquery-2.1.4.js"></script-->
    <script src="javascripts/dep/lodash.js"></script>
    <script src="javascripts/util.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
    
    <script src='javascripts/dep/vue.js'></script>
    <script src='javascripts/dep/vue-router.js'></script>
    
    <script src='javascripts/dep/echarts.js'></script>

    <script src='javascripts/loading.js'></script>
    <script src='javascripts/search.js'></script>
    
    <script src='javascripts/pageTChart.js'></script>
    <script src='javascripts/pageT.js'></script>
    
    <script src='javascripts/totalV.js'></script>
    <script src='javascripts/pageV.js'></script>
    
    <script src='javascripts/browser.js'></script>
    <script src='javascripts/performance.js'></script>
    <script src='javascripts/platform.js'></script>
    <script src='javascripts/screenSize.js'></script>
    
    <script src='javascripts/hourPeak.js'></script>
    <script src='javascripts/urlFilter.js'></script>
    <script src='javascripts/cfqIndex.js'></script>
    
    <script src='javascripts/specDaoliuPortal.js'></script>

    <script src='javascripts/refer.js'></script>

    <script src='javascripts/sendBeacon.js'></script>

    <script src="javascripts/jsLoad.js"></script>

    <script src='javascripts/router.js'></script>
</head>



<body>
    <div class='head'>58金融日志系统</div>
    <div id='navList'>
        <div class='page-left' >
            <ul @click='changeRouter'>
                <li v-link="{ path: '/pageT' }" v-bind:class="{ 'active': $route.pageT}" >**埋点分析**</li>
                <li v-link="{ path: '/totalV' }" v-bind:class="{ 'active': $route.totalV}" >基初-总访问量</li>
                <li v-link="{ path: '/pageV' }" v-bind:class="{ 'active': $route.pageV}" >基初-页访问量</li>
                <li v-link="{ path: '/performance' }" v-bind:class="{ 'active': $route.performance}" >基础-性能</li>
                <li v-link="{ path: '/platform' }" v-bind:class="{ 'active': $route.platform}" >基初-平台类型</li>
                <li v-link="{ path: '/browser' }" v-bind:class="{ 'active': $route.browser}" >基初-浏览器类型</li>
                <li v-link="{ path: '/screenSize'}" v-bind:class="{ 'active': $route.screenSize}">基础－屏幕尺寸与DPR</li>
                <li v-link="{ path: '/hourPeak'}" v-bind:class="{ 'active': $route.hourPeak}" >基初-时峰值</li>
                <li v-link="{ path: '/urlFilter'}" v-bind:class="{ 'active': $route.urlFilter}" >*特殊*-URL参数过滤</li>
                <li v-link="{ path: '/specDaoliuPortal'}" v-bind:class="{ 'active': $route.specDaoliuPortal}" >*特殊*-导流-portal</li>
                <li v-link="{ path: '/cfqIndex'}" v-bind:class="{ 'active': $route.cfqIndex}" >*特殊*-车分期首页来源</li>
                <li v-link="{ path: '/refer'}" v-bind:class="{ 'active': $route.refer}" >TOP 10 Referrer</li>
                <li v-link="{ path: '/sendBeacon'}" v-bind:class="{ 'active': $route.sendBeacon}" >sendBeacon统计</li>
                <li v-link="{ path: '/jsLoad' }" v-bind:class="{ 'active': $route.jsLoad }">js加载执行时间</li>
            </ul>
        </div>
        <div class='page-right'>
            <router-view keep-alive></router-view>
        </div>
        <Loading :show.sync="showLoading"></Loading>
    </div>
</body>




<!--
    描述：loading / search
-->

<script type="x/template" id="loading-template">
    <div v-show="show" transition="modal" class="loading-cover">
        <div>
            <span class="loading-con">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
            </span>
        </div>
    </div>
</script>



<script type="x/template" id='search-template'>
    <form class='form-inline'>
        <div class='form-group'>
            <label>项目</label>
            <select class="form-control" v-model='projectSelected' >
                <option v-for="p in projects">{{p}}<option>
            </select>
        </div>
        <div class='form-group'>
            <label class="control-label">开始时间：</label>
            <input class="form-control" v-model='startTime' type='date' />
            <label class="control-label">结束时间：</label>
            <input class="form-control" v-model='endTime' type='date' />
        </div>
        <div class='form-group'>
            <input @click="clickSearchBtn" class="btn btn-primary" type='button' value='查询' />
        </div>
    </form>
</script>





<!--
    描述：埋点统计
-->

<script type='x/template' id='pageT-template'>
    <search :okfun='okFun'></search>
    <div>
        <page-t-chart :show.sync="showChart"></page-t-chart>
    </div>
</script>


<script type="x/template" id='pageTChart-template'>
    <div class='chartCon' v-show="show">
        <div  class='form-group'>
        <form class='form-inline'>
            <label class="form-label">页面</label>
            <select v-model='currentPage' class="form-control">
                <option v-for='page in pageList'>{{page}}</option>
            </select>
        </form>
        </div>
        <div class='people'>PV统计</div>
        <div id='pv-chart' class="pageTChart-chart"></div>
        <div class='people'>UV统计</div>
        <div id='uv-chart' class="pageTChart-chart"></div>
        <div class='people'>LoginUV统计</div>
        <div id='lv-chart' class="pageTChart-chart"></div>
    </div>
</script>





<!--
    描述：总访问量、页面访问量
-->

<script type="x/template" id='totalV-template'>
    <search :okfun='okFun'></search>
    <div id='pvchart-main'></div>
</script>


<script type="x/template" id='pageV-template'>
    <search :okfun='okFun'></search>
    <form class='form-inline' style='margin-top:20px' v-show='showForm'>
        <label class="form-label">页面</label>
        <select class="form-control" v-model='currentPage' >
            <option v-for='page in pageList' track-by="$index">{{page}}</option>
        </select>
    </form>
    <div id='pvchart-main'></div>
</script>





<!--
    描述：性能、平台类型、浏览器类型
-->

<script type='x/template' id='performance-template'>
    <search :okfun='okFun'></search>
    <form class='form-inline' style='margin-top:20px' v-show='showForm'>
        <label class="form-label">页面</label>
        <select class="form-control" v-model='currentPage' >
            <option v-for='page in pageList' track-by="$index">{{page}}</option>
        </select>
        ['DNS查找时间', '建立链接时间', '发送请求时间', '接受请求时间','加载完成时间','可响应时间']
    </form>
    <div id='pvchart-main'></div>
</script>


<script type='x/template' id='platform-template'>
    <search :okfun='okFun'></search>
    <div id='pvchart-main'></div>
</script>


<script type='x/template' id='browser-template'>
    <search :okfun='okFun'></search>
    <div id='pvchart-main'></div>
</script>


<script type="x/template" id='screenSize-template'>
    <search :okfun='okFun' single-mode='true'></search>
    <div id='screenChart-main'></div>
    <div id='screenCake-main'></div>
</script>





<!--
    描述：时峰值、URL参数过滤
-->

<script type="x/template" id='hourPeak-template'>
    <search :okfun='okFun'></search>
    <div id='pvchart-main'></div>
</script>


<script type='x/template' id='urlFilter-template'>
    <search :okfun='okFun'></search>
    <form class='form-inline' style='margin-top:20px' v-show='showForm'>
        <label class="form-label">页面</label>
        <select class="form-control" v-model='currentPage'>
            <option v-for='page in pageList' track-by="$index">{{page}}</option>
        </select>
        <input class="form-control" v-model='filterStr' type='text' placeholder='过滤参数 例：from' />
        <input @click="clickSearchBtn" class="btn btn-primary" type='button' value='查询' />
    </form>
    <div id='pvchart-main'></div>
</script>





<!--
    描述：特殊统计 - 导流portal页
-->

<script type='x/template' id='specDaoliuPortal-template'>
    此页面仅用于 导流 我的贷款 portal首页
    <search :okfun='okFun' single-mode='true'></search>
    推荐条数
    <div id='spec-chart-main-1' class="spec-chart-main-x"></div>
    各机构展示次数
    <div id='spec-chart-main-2' class="spec-chart-main-x"></div>
    各机构点击次数
    <div id='spec-chart-main-3' class="spec-chart-main-x"></div>
</script>



<!--
    描述：特殊统计 - 车分期首页来源
-->
<script type="x/template" id="cfqIndex-template">
    <search :okfun='okFun'></search>
    <div class="page-cfqIndex">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td v-for="column in columns" track-by="$index">{{column}}</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows" track-by="$index">
                    <td v-for="item in row" track-by="$index">{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>


<!--
    描述：TOP 10 Refer
-->

<script type="x/template" id='refer-template'>
    <search :okfun='okFun'></search>
    <form class='form-inline' style='margin-top:20px' v-show='showForm'>
        <label class="form-label">页面</label>
        <select class="form-control" v-model='currentPage' >
            <option v-for='page in pageList' track-by="$index">{{page}}</option>
        </select>
    </form>
    <div id='pvchart-main'></div>
</script>


<!--
    描述：sendBeacon统计
-->

<script type="x/template" id='sendBeacon-template'>
    <search :okfun='okFun'></search>
    <div id='pvchart-main'></div>
</script>


<script type="x/template" id="jsLoad-template">
    <search :okfun='okFun'></search>
    <div class="page-jsLoad">
        <p>{{ value }}</p>
    </div>
</script>



<script src='javascripts/home.js'></script>
</html>



<script src="/socket.io/socket.io.js"></script>
<script>
function __beginSocket() {
    var socket = io('/');
    socket.on('news', function (data) {
        console.log(data);
    });
    socket.on('connect', function(data) {
        socket.emit('join', 'Hello World from client');
    });
}

//setTimeout(__beginSocket, 5000)
</script>