<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>58金融日志系统--登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<script src='javascripts/login.js'></script>
</head>
<body>
	<form class='form-inline loginCon' id='loginCon'>
		<div class="form-group">
			<label>用户名</label>
			<input id='name' v-model="name" class="form-control" type='text'/>
		</div>
		<div class="form-group">
			<label>密码</label>
			<input id='password' v-model="password" class="form-control" type='password'/>
		</div>
		<div class="form-group">
			<input id="btn-submit" class="btn btn-default" v-on:click="submitForm" type="button" value='确定' />
		</div>
	</form>
</body>
</html>